:root {
    --primary: #dc4f72;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
}

h2, h3, h4, h6 {
    font-family: 'Nunito', sans-serif;
}

img {
    display: block;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*-------------------------------------- SWITCH-THEME --------------------------------------*/

/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: black;
    padding: 10px;
    margin-left: 10px;
}

#switchButton:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.fa-moon {
    display: none;
    color: #dc4f72;
}

.fa-sun {
    display: block;
    color: #dc4f72;
}

/* Dark theme */
.dark#myBody {
    background-color: black;
}

.dark #switchButton {
    background-color: white;
}

.dark .fa-moon {
    display: block;
}

.dark .fa-sun {
    display: none;
}

/* ----------HEADER----------- */
body .headerMaster1 {
    padding: 8px 0;
}

body .headerMaster1 {
    padding: 8px 0;
}

.masterMenu {
    transition: all 0.4s;
    padding: 1.7rem 0 1.9rem;
}

.masterMenu {
    background-color: #fff;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.dark .masterMenu {
    background-color: #151515;
}

.masterMenu .navbar {
    justify-content: space-between;
    position: relative;
}

.masterMenu .navbar-brand {
    font-size: 2.6rem;
    color: #DC4F72;
    font-weight: 700;
    letter-spacing: -0.1rem;
}

.masterMenu .collapse {
    justify-content: flex-end;
}

.masterMenu .navbar-nav {
    align-items: center;
}

.masterMenu .nav-item {
    padding: 0 1rem;
}

.masterMenu .active .nav-link {
    font-size: 1.6rem;
    color: #DC4F72;
}

.masterMenu .nav-link {
    font-size: 1.6rem;
    color: #333;
    opacity: 0.95;
    padding: 0;
    position: relative;
    transition: all 0.5s;
}

.dark .masterMenu .nav-link {
    color: #fff;
}

.masterMenu .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.2rem;
    left: 0.5rem;
    bottom: -0.3rem;
    background-color: #DC4F72;
    transition: all 0.5s;
}

.masterMenu .dropdown-item span {
    position: relative;
}

.masterMenu .dropdown-item span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.2rem;
    left: 0;
    bottom: -0.5rem;
    background-color: #DC4F72;
    transition: all 0.5s;
}

.masterMenu .nav-link:hover:after, .masterMenu .dropdown-item span:hover:after {
    width: 2rem;
}

.masterMenu .nav-link:hover, .masterMenu .dropdown-item span:hover {
    color: #DC4F72;
    background-color: #fff;
}

.dark .masterMenu .nav-link:hover, .masterMenu .dropdown-item:hover {
    background-color: unset;
}

.dropdown-menu::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
}

.nav-link i {
    font-size: 1.4rem;
    padding-left: 0.2rem;
}

.masterMenu .dropdown-item {
    font-size: 1.6rem;
    color: #2C3038;
    padding: 0 2.4rem 1.4rem;
    width: 17.4rem;
}

.dropdown-menu {
    margin-top: 2rem;
    padding: 1.6rem 0 0.48rem;
    transform: translateX(-5rem);
    border-radius: 0.6rem;
}

.masterMenu form {
    padding: 0 1.5rem;
    margin-left: 1.5rem;
}

.masterMenu .btn {
    color: #DC4F72;
    border-color: #DC4F72;
    padding: 0 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 5.2rem;
    font-family: 'Nunito', sans-serif;
    border-radius: 4px;
}

.dark .masterMenu .btn {
    color: #fff;
}

.masterMenu .btn:hover {
    color: #fff;
    background-color: #DC4F72;
    border-color: #DC4F72;
}

.masterMenu .btn:active {
    color: #fff;
    background-color: #DC4F72;
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.masterMenu .btn:focus {
    color: #fff;
    background-color: #DC4F72;
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.navbar-toggler {
    background-color: #DC4F72;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 0.5rem;
}

.navbar-toggler:active {
    border-color: black;
}

.navbar-toggler:focus {
    border-color: black;
}

.navbar-toggler-icon {
    width: unset;
    height: unset;
}

.navbar-toggler-icon i {
    font-size: 2.4rem;
    color: #fff;
}

#switchButton {
    position: absolute;
    left: 210px;
    top: 10px;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.fa-bars {
    display: block;
}

.fa-times {
    display: none;
}

.switchMenu .fa-bars {
    display: none;
}

.switchMenu .fa-times {
    display: block;
}

.dark .dropdown-menu::before, .dark .dropdown-menu {
    background-color: #222;
}

.dark .dropdown-item span {
    color: #fff;
}

.dark .dropdown-item:hover {
    background-color: #222;
}

.dark .dropdown-item:hover span {
    background-color: #222;
}

/* --------------------------------------START-------------------------------------- */

.start {
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 9rem;
}

.start__content {
    align-items: center;
    padding-top: 8rem;
}

.start__left h3 {
    font-size: 5rem;
    line-height: 5.75rem;
    color: #2C3038;
    font-weight: 700;
}

.start__left p {
    font-size: 2rem;
    line-height: 2.8rem;
    color: #5a5a5a;
    font-weight: 400;
    max-width: 45rem;
    margin: 1.6rem 0 4.8rem;
}

.start__left .btn {
    color: #DC4F72;
    border-color: #DC4F72;
    padding: 0 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 5.2rem;
    font-family: 'Nunito', sans-serif;
}

.start__left .btn:hover {
    color: #fff;
    background-color: #DC4F72;
    border-color: #DC4F72;
}

.start__left .btn:active {
    color: #fff;
    background-color: #DC4F72;
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.start__left .btn:focus {
    color: #fff;
    background-color: #DC4F72;
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.start__right img {
    transform: rotate(180deg);
    max-width: 100%;
    width: unset;
}

/* --------------------------------------TOOl--------------------------------------*/
.tool {
    padding: 4.8rem 0;
    background-color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dark .tool {
    background-color: #222;
}

.tool__content {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.tool__top {
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;
}

.tool__top h6 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.tool__top h3 {
    font-size: 4.6rem;
    line-height: 1;
    font-weight: 700;
    color: #2C3038;
}

.tool__top p {
    font-size: 1.6rem;
    color: #5a5a5a;
    line-height: 2.25rem;
    margin-top: 1.6rem;
}

.dark .tool__top h3, .dark .tool__top p {
    color: #fff;
}

.tool__down {
    margin-top: 6.4rem;
}

.tool__item__content {
    padding: 4.8rem 3.2rem;
    background-color: #F7F9FC;
    border: 1px solid #F7F9FC;
    border-radius: 0.6rem;
    text-align: center;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.dark .tool__item__content {
    background-color: #151515;
    border: 1px solid #fff;
}

.tool__item__content img {
    max-width: 100%;
    width: unset;
    margin: 0 auto;
}

.tool__item__content h3 {
    margin: 1.6rem 0;
    font-size: 2.6rem;
    color: #2C3038;
    line-height: 3.5rem;
    font-weight: 700;
}

.tool__item__content p {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    color: #5a5a5a;
    line-height: 2.45rem;
}

.tool__item__content:hover {
    transform: translateY(-0.8rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border: 1px solid #eee;
}

.dark .tool__item__content:hover {
    background-color: #222;
    border: 1px solid #dc4f72;
}

.dark .tool__item__content h3, .dark .tool__item__content p {
    color: #fff;
}

/* --------------------------------------ABOUT-------------------------------------- */
.about {
    background-color: #F7F9FC;
    padding: 4.8rem 0;
    margin-bottom: 8px;
}

.dark .about {
    background-color: #151515;
}

.about__content {
    padding: 1.6rem 0;
    margin-top: 1.6rem;
}

.about__top {
    padding-bottom: 6.4rem;
    align-items: center;
}

.about__top--content {
    padding: 0 4.8rem 0 1.5rem;
}

.about__top--content h6 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

}

.about__top--content h3 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;
    color: #2C3038;
    margin-bottom: 0;
}

.about__top--content p {
    font-size: 1.6rem;
    color: #5a5a5a;
    line-height: 2.44rem;
    margin: 2.4rem 0 4.8rem;
}

.dark .about__top--content h3, .dark .about__top--content p {
    color: #fff;
}

.about__top--content .btn {
    background-color: #DC4F72;
    color: #fff;
    border-color: #DC4F72;
    padding: 0 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 5.2rem;
    font-family: 'Nunito', sans-serif;
}

.about__top--content .btn:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}

.about__top--content .btn:active {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.about__top--content .btn:focus {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.about__top--img {
    padding: 0 1.5rem 0 4.8rem;
}

.about__top--img img {
    max-width: 100%;
    width: unset;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    transition: 0.3s ease-in;
}

.about__top--img img:hover {
    transform: translateY(-0.8rem);
}

.about__down {
    padding: 2.4rem 0 0;
}

.about__item__content {
    background-color: #ffffff;
    padding: 3.2rem;
    border-radius: 0.6rem;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    border: 1px solid #eee;
}

.about__item__content:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease-in;
}

.dark .about__item__content {
    background-color: #222;
}

.about__item__content h4 {
    font-size: 1.6rem;
    color: #2C3038;
    line-height: 2.45rem;
    font-weight: 700;
}

.about__counter {
    display: block;
    font-size: 5rem;
    line-height: 1;
    color: #dc4f72;
    font-weight: 700;
    margin: 1rem 0 1.5rem;
}

.about__item__content p {
    font-size: 1.6rem;
    color: #5a5a5a;
    line-height: 1.5;
    margin-bottom: 0;
}

.dark .about__item__content h4, .dark .about__item__content p {
    color: #fff;
}

/* --------------------------------------COMMIT-------------------------------------- */
.commit {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 48rem;
    padding: 3.2rem 0;
    display: flex;
    align-items: center
}

.commit__content {
    max-width: 55rem;
}

.commit h2 {
    color: #ffffff;
    font-size: 3rem;
    line-height: 3.6rem;
    font-weight: 700;
    margin-bottom: 0;
}

.commit p {
    font-size: 1.6rem;
    color: #eee;
    line-height: 2.45rem;
    padding: 2.4rem 0 4.8rem;
    margin-bottom: 0;
}

.commit__content .btn {
    background-color: #fff;
    color: #212529;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 5.2rem;
    font-family: 'Nunito', sans-serif;
}

.commit__content .btn:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.commit__content .btn:active {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 50%);
}

.commit__content .btn:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 50%);
}

/* --------------------------------------SOLUTION-------------------------------------- */
.solution {
    padding-top: 4.8rem;
    padding-bottom: 7.6rem;
    background-color: #fff;
}

.dark .solution {
    background-color: #222;
}

.solution__top {
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 1.6rem;
}

.solution__top h6 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.solution__top h3 {
    font-size: 4.6rem;
    line-height: 1;
    font-weight: 700;
    color: #2C3038;
}

.solution__top p {
    font-size: 1.6rem;
    color: #5a5a5a;
    line-height: 2.25rem;
    margin: 1.6rem 0;
}

.dark .solution__top h3, .dark .solution__top p {
    color: #fff;
}

.solution__down {
    margin-top: 6.4rem;
}

.solution__item__content {
    border-radius: 0.6rem;
    border: 1px solid #eee;
    position: relative;
    transition: 0.3s ease-in;
}

.solution__img img {
    border-radius: 0.6rem 0.6rem 0 0;
    filter: grayscale(1);
    transition: 0.3s ease-in;
}

.solution__img p {
    padding: 1.5rem;
    color: #fff;
    background-color: #dc4f72;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0.6rem 0 0;
    line-height: 2.45rem;
}

.solution__info {
    padding: 3rem 2rem;
}

.dark .solution__info {
    background-color: #151515;
}

.solution__info label {
    padding: 0.5rem 1.6rem;
    border-radius: 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.solution__info .label__1 {
    background-color: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

.solution__info .label__2 {
    background-color: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.solution__info .label__3 {
    background-color: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.solution__info h4 {
    font-size: 2.2rem;
    line-height: 2.7rem;
    color: #2C3038;
    display: block;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark .solution__info h4 {
    color: #fff;
}

.solution__info p {
    font-size: 1.6rem;
    line-height: 2.45rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    color: #5a5a5a;
}

.dark .solution__info p {
    color: #fff;
}

.solution__info .solution__btn span {
    color: #dc4f72;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.solution__info .solution__btn i {
    font-size: 1rem;
    color: #dc4f72;
    transform: translateX(0);
    transition: 0.3s ease-in;
}

.solution__item__content:hover {
    transform: translateY(-0.8rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.solution__item__content:hover .solution__img img {
    filter: grayscale(0);
}

.solution__item__content:hover .solution__info h4 {
    color: #dc4f72;
}

.solution__item__content:hover .solution__btn i {
    transform: translateX(0.5rem);
}





h1 {
    margin: 50px 0 20px;
    font-weight: 100;
    text-align: center;
}



/* QUESTION */
.question {
    background-color: #f7f9fc;
    padding: 100px 0;

}

.dark .question{
    background:#151515;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}


.dark .header-section h3, .dark .header-section p{
    color:#fff;
}


.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}




.question__img {
    position: sticky;
    top: 80px;
}

.question__img img {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 6px;
    transition: 0.3s ease-in-out;

}

.question__img img:hover {
    transform: translateY(-10px);
}

.checkbox_collapse .panel.panel-default {
    padding: 0px !important;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #eee;


}


.checkbox_collapse .panel-body {
    padding-left: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    color: #5a5a5a
}

.checkbox_collapse .panel-heading {
    position: relative;
    width: 100%;
    height: 100%;
}

.checkbox_collapse .panel-title {
    margin: 0;
}


.checkbox_collapse .panel.panel-default a {
    position: relative;
    padding: 22px;
    color: #2C3038;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;



}


.checkbox_collapse .panel.panel-default a::before {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url(../image/chevron.png);
    background-repeat: no-repeat;
    background-size: 16px;
    transition: transform .2s ease-in-out;
    position: absolute;
    right: 20px;
    transform: rotate(-45deg);
    margin-left: auto;
}


.checkbox_collapse .panel.panel-default a::after {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url(../image/chevron.png);
    background-repeat: no-repeat;
    background-size: 16px;
    transition: transform .2s ease-in-out;
    position: absolute;
    right: 13px;
    transform: rotate(45deg);
    top: 24px;
    margin-left: auto;


}

.checkbox_collapse .panel.panel-default a:not(.collapsed)::before {
    background-image: url(../image/chevron.png);
    transform: translateX(5px) rotate(-45deg);

}

.checkbox_collapse .panel.panel-default a:not(.collapsed)::after {
    background-image: url(../image/chevron.png);
    transform: translateX(-5px) rotate(45deg);

}

.checkbox_collapse .panel.panel-default a i {
    font-size: 14px;
}

/* PROJECTS */
.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4E5B61;
    background-color: #fff !important;
    border-bottom: 3px solid #eee;
}

.dark .resp-tabs-container,.dark .resp-tabs-list li{
    background-color: #222 !important;
    color:#fff;
    }
.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px #dc4f72 solid !important;
    color: #dc4f72 !important;
}


.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-accordion {
    display: none;
}

.projects .products-content {
    margin: 20px 0;


}

.resp-tab-content {
    border-top-color: #5AB1D0;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}
.dark .projects .products-content h3{
    color:#fff;
}
.dark .projects .products-content p{
    color:#eef;
}

.projects .products-content h3 {
    color: #2C3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.projects .products-content p {
    color: #5a5a5a;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}


@media only screen and (max-width: 768px) {

    ul.resp-tabs-list {
        display: none;
    }

    .resp-tab-active .resp-arrow {
        transform: rotate(180deg);
    }

    h2.resp-accordion {
        display: block;
        font-size: 20px;
        border: 1px solid #c1c1c1;
        margin: 0px;
        padding: 10px 15px;

    }
.dark h2.resp-accordion{
    background-color: #222 !important
}

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;


    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }

    .projects .products-content {
        margin: 0;
        border-left: 1px solid #c1c1c1;
        border-right: 1px solid #c1c1c1;
        padding: 15px;
    }
}

/* SAY */
.say {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../image/b2.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 60px 0;
}

.dark .say{
     background-image:  url(../image/dark.jpg);

}

.dark .say__slider{
    background-color: #222;
    
}

.dark .say__message p, .dark .say__message span{
    color:#fff;
}


.say__slider {

    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;

}

.say__img--circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
}

.say__img--circle img {
    width: 100%;
    min-height: 100%;
}

.say__message {
    position: relative;
}

.say__message span {
    font-size: 30px;
    color: #2C3038;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}

.say__message p {
    font-size: 18px;
    line-height: 26px;
    color: #2C3038;
}

.say__name h4 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
}

.say__name p {
    font-size: 13px;
    color: #5a5a5a;
}

.fa-quote-left:before {
    content: "\f10d";
}

.say__content .slick-dots {
    position: absolute;
    bottom: -60px;
}

.say__content .slick-dots li {
    margin-right: 40px;
}

.say__content .slick-dots li button::before {
    content: '';
    background-color: #fff;
    width: 40px;
    height: 5px;
    opacity: 1;
}

.say__content .slick-dots li.slick-active button::before {
    background-color: #e62b4a;

}

/* READY */
.ready {
    padding: 80px 0;
}

.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;

}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}



.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgb(225 105 135 / 50%);
}
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #cf2952;
    border-color: #c4274e;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    box-shadow: 0 0 0 0.2rem rgb(225 105 135 / 50%);
}

/* FOOTER */

.footer__main {
    background-color: #F7F9FC;
}

.footer__main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.footer__list li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

.footer__list li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
}

.letter__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.letter__content h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}


.footer__main form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.footer__main input {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}

.footer__main button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

.footer__main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.footer__main p a {
    color: #2C3038;
    text-decoration: none;
}



.footer__main p a:hover {
    color: #eaa5b7;
}

.footer__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid #eeeff0;
}

.footer__social li {
    display: inline-block;
    margin-right: 5px;
}

.footer__social li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.footer__social li a:hover {
    color: #dc4f72
}

.footer__social li a i {
    font-size: 15px;
}


.dark .footer__main{
    background-color: #151515;
   
}

.dark .footer__main h3{
    color:#fff;
}

.dark .footer__list li a{
    color:#fff;
}


.dark .footer__main p{
    color:#fff;
}
.dark .footer__main p a{
    color:grey;
}

.dark .footer__main p a:hover{
    color:#dc4f72
}
.dark .footer__social li a{
    color:#fff;
}
.dark .footer__social li a:hover{
    color:#dc4f72;
}


.dark .letter__content{
    background-color: grey;
}

.dark .letter__content h4{
    color:#fff;
}

/* BACKTOP */
.backtop {
    display: block;
    width: 5rem;
    height: 4.5rem;
    font-size: 2.2rem;
    line-height: 4.5rem;
    text-align: center;
    color: white;
    background-color: #dc4f72;
    position: fixed;
    right: 0;
    bottom: 7.5rem;
    opacity: 0.7;
    visibility: hidden;
    transition: 0.3s ease;
}

.cd-top--is-visible {
    visibility: visible;
}

.backtop:hover {
    opacity: 1;
    color: #fff;
}

/* -------------------------------------- FIX CONTAINER-FLUID -------------------------------------- */

@media screen and (min-width:576px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width:768px) {
    .container-fluid {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (min-width:992px) {
    .container-fluid {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
       
    }
}

@media screen and (min-width:1200px) {
    .container-fluid {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      
    }
}
@media screen and (min-width:1280px) {
    .container-fluid {
        max-width: 1200px;
        padding-left: 25px;
        padding-right: 25px;
    }
}


/* -------------------------------------- MEDIA QUERY - CONTENT -------------------------------------- */
@media screen and (max-width:991px) {

    /* Header */
    .masterMenu {
        padding: 1.5rem 0;
    }

    .masterMenu .nav-link {
        padding: 0.8rem 0;
        display: inline-block;
    }

    .masterMenu .navbar {
        text-align: center;
    }

    .masterMenu .nav-item {
        width: 100%;
    }

    .masterMenu .dropdown-menu {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        transform: translateX(0);
    }

    .masterMenu .dropdown-item {
        margin: 0 auto;
        width: unset;
    }

    .masterMenu .nav-link::after {
        bottom: 0;
        left: 0;
    }

    #switchButton {
        top: 2px;
    }

    body .headerMaster1 {
        padding: 10px 0;
    }

    .masterMenu .navbar-nav {
        padding: 20px 0;
    }

    .masterMenu form {
        margin-left: 0;
        margin-top: 1.6rem;
    }

    .dark .masterMenu .collapse {
        background-color: #222;
    }

    .dark .dropdown-menu::before, .dark .dropdown-menu {
        background-color: #151515;
    }

    .dark .dropdown-item span {
        color: #fff;
    }

    .dark .dropdown-item:hover {
        background-color: #151515;
    }

    /* Start */
    .start {
        margin-top: 7rem;
    }

    .start__left p {
        margin-bottom: 2.4rem;
    }

    .start__right {
        margin-top: 4.8rem;
    }

    /* Tool */
    .tool__item:last-of-type .tool__item__content {
        margin-top: 4.8rem;
    }

    .tool__top h3 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .tool__content {
        padding-top: 0;
    }

    /* About */

    .about__content {
        padding: 0;
    }

    .about__top {
        padding-bottom: 7.2rem;
    }

    .about__top--content {
        padding: 0 1.5rem;
    }

    .about__top--img {
        padding: 4.8rem 1.5rem 0 1.5rem;
    }

    .about__down {
        padding: 0;
    }

    .about__item:last-of-type {
        margin-top: 4.8rem;
    }

    .about__item__content h4 {
        font-size: 1.8rem;
    }

    .about__counter {
        font-size: 4rem;
        line-height: 5rem;
    }

    /* Solution */
    .solution__item:last-of-type {
        margin-left: 25%;
        margin-top: 4.8rem;
    }

    .solution__top {
        padding-top: 0;
    }

    .solution {
        padding-bottom: 6.4rem;
    }
}

@media screen and (max-width:800px) {

    /* commit */
    .commit__content .btn {
        margin-top: 40px;
    }

    /* Solution */
    .solution__top h3 {
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media screen and (max-width:767px) {

    /* Header */
    body .headerMaster1 {
        padding: 10px 0;
    }

    /* Start */
    .start__left .btn {
        padding: 0 20px;
        line-height: 44px;
    }

    .tool__down {
        margin-top: 1.6rem;
    }

    .tool__item__content {
        margin-top: 4.8rem;
    }

    /* Tool */
    .tool__top h3 {
        font-size: 3.2rem;
        line-height: 4.2rem;
    }

    .tool__content {
        padding-bottom: 0;
    }

    /* About */

    .about__down .about__item {
        margin-top: 4.8rem;
    }

    .about__top--content p {
        margin: 1.6rem 0 2.4rem;
    }

    .about__top--content .btn {
        padding: 0 20px;
        line-height: 44px;
    }

    .about__top {
        padding-bottom: 2.4rem;
    }

    .about__item__content h4 {
        font-size: 1.7rem;
    }

    /* commit */
    .commit__content .btn {
        padding: 0 20px;
        line-height: 44px;
    }

    .commit p {
        padding: 1.6rem 0 2.4rem;
    }

    /* Solution */
    .solution__down .solution__item {
        margin-top: 4.8rem;
        margin-left: 0;
    }

    .solution__down {
        margin-top: 0;
    }
}

@media screen and (max-width:667px) {

    /* commit */
    .commit p {
        font-size: 15px;
        line-height: 22px;
    }

    .commit__content .btn {
        margin-top: 30px;
    }

    /* Solution */
    .solution__top h3 {
        font-size: 3.2rem;
        line-height: 4.2rem;
    }
}

@media screen and (max-width:575px) {

    /* Header */
    .masterMenu .navbar {
        padding: 0 15px;
    }

    /* Start */
    .start__left h3 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    /* About */
    .about__down .about__item {
        margin-top: 2.4rem;
    }

    .about__top {
        padding-bottom: 4.8rem;
    }
}

@media screen and (max-width:440px) {

    /* commit */
    .commit h2 {
        font-size: 26px;
    }
}

@media screen and (max-width:375px) {

    /* Start */
    .start__left h3 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
}

/* .say */

@media (max-width: 480px) {
    .say__slider {
        grid-gap: 10px;
        padding: 2rem 1rem;
    }
}

@media (max-width: 667px) {
    .say__slider {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .say__img--circle {
        margin: auto;

    }

    .say__message p, .say__name {
        text-align: center;
    }

    .say__message span {
        text-align: center;
        padding-left: 40px;
    }
}

@media (max-width: 900px) {
    .say__slider {
        padding: 2rem;
    }
}

@media (max-width: 992px) {
    .footer__icon {
        flex-direction: column;
    }
}